{
  "note" : "this is a gutted version of bott recolor shader, won't be inside of workshop release and is here just to see if i could hook up a shader to the framework",
  "frameBuffer" : "main",
  "frameBufferTextures": [
    {
      "framebuffer": "main",
      "texture": "mainFB"
    }
  ],
  "includeVBTextures": false,

  "effectParameters" : {
    "satMult" : {
      "type" : "float",
      "default" : 1,
      "scriptable": true,
      "uniform" : "satMult"
    },
    "madnessStrength" : {
      "type" : "float",
      "default" : 1,
      "scriptable": true,
      "uniform" : "madnessStrength"
    }
  },

  "effectTextures" : {
    "mainFB" : {
      "textureUniform" : "mainFB"
    }
  },

  "effectShaders" : {
    "vertex" : "basic.vert",
    "fragment" : "madnessSaturation.frag"
  }
} 
